/* app/styles/layout.module.css */
.body {
  min-height: 100vh;
  background-color: var(--primary-background);
  color: var(--primary-text);
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  color: var(--secondary-text);
}
