.home{
    min-width: 100vw;
    min-height: 100vh;
    background-color: wheat;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    ". weather"
    ". ."
    "intro .";
}