.greet {
    font-size: 1.2rem;
}

.name {
    font-size: 3rem;
    width: inherit;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 70%;
}


.box{
    /* background-color: yellow; */
    width: 60%;
    height: fit-content;
    margin: 5rem;
    grid-area: intro;
}